cchardet==2.1.4
sanic==19.6.2
async_timeout==3.0.1
sanic_session==0.5.6
uvloop==0.12.2
aiohttp==3.5.4
requests==2.18.4
Jinja2==2.10.1
asyncio_redis==0.15.1
aiocache==0.10.1
beautifulsoup4==4.8.0
fontTools==3.43.2
schedule==0.6.0
scrapy==1.7.2
