[submodule "solar_shadow"]
	path = pluto
	url = git@github.com:joyous-x/solar_shadow.git
[submodule "earth"]
	path = earth
	url = git@github.com:joyous-x/blog.git
[submodule "neptune"]
	path = neptune
	url = git@github.com:joyous-x/neptune.git
