[submodule "solar_shadow"]
	path = pluto
	url = git@github.com:joyous-x/solar_shadow.git
[submodule "earth"]
	path = earth
	url = git@github.com:joyous-x/blog.git
[submodule "mercury"]
	path = mercury
	url = git@github.com:joyous-x/mercury.git
