<div class="footer">
    <nav class="navbar-collapse collapse navbar-fixed-bottom" style="text-align:center;">
        <div class="infos navbar-nav" style="display:inline-block;float:none;">
            <span>
                <a data-container="body" data-toggle="popover"
                   data-placement="top"
                   data-content="本站仅提供第三方搜索引擎检索结果的展示, 内容(检索结果)与本站无关。"><strong>&nbsp;声明&nbsp;</strong></a>
            <!--
                <a target="_blank" href="feedback"><strong>&nbsp;反馈&nbsp;</strong></a>
                <a target="_blank" href="donate"><strong>&nbsp;捐赠&nbsp;</strong></a>
                <a id="wechat" class="wechat-button" data-toggle="popover" data-placement="top"><strong>&nbsp;公众号&nbsp;</strong></a>
            -->
            </span>
        </div>
    </nav>
</div>

