{% extends "main.html" %}

{% block header %}
<title>{{ title }}</title>
<link rel="stylesheet" href="static/books/css/index.css">
{% endblock %}

{% block content %}
<div class="header">
    {% if user %}
    {% include "mine.html" %}
    {% else %}
    <div class="login">
        <a class="btn btn-primary pull-right" href="#" role="button" data-toggle="modal" data-target="#login">登录</a>
    </div>
    {% endif %}
</div>
<div class="container">
    <div class="logo">
        <img class="img-responsive" src="static/books/img/logo.png" style="align-self:center;width:56%;border:1px solid #8c97a8;" alt="logo">
    </div>
    <form action="/search" method="get" class="home_search center-block">
        <div class="search">
            <input type="text" name="keys" class="search_input" placeholder="请输入"/>
            <button type="submit" class="search_btn">
        </div>
    </form>
    <div class="search_ranking center-block">
        <span style="font-size: 100%" class="label label-info">搜索排行:</span>
        {%for bname in search_ranking%}
        <a target="_blank" href="search?keys={{bname.keyword}}"><span
                class="label label-primary">{{bname.keyword}}</span></a>
        {%endfor%}
        <a target="_blank" href="/md"><span class="label label-primary" style="background: #d4507d">更多</span></a>
    </div>
</div>
{% endblock %}
