<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="keywords" content="免费小说, 免费, 无广告, 小说阅读"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="static/books/img/favicon.png"/>
    <link rel="bookmark" href="static/books/img/favicon.png"/>
    <link rel="stylesheet" href="static/books/css/main.css">
    <!-- 
        https://search.google.com/search-console/not-verified?original_url=/search-console/ownership&original_resource_id
        域名供应商: smilex.xyz, 修改DNS配置, 增加以下内容已完成认证:
            google-site-verification=Y4Ke-pvTMiuMGn7QH_N0de_nB-LQvmtAEC4Bt5EQxOA 
    -->
    <meta name="google-site-verification" content="Y4Ke-pvTMiuMGn7QH_N0de_nB-LQvmtAEC4Bt5EQxOA">
    <!-- TODO -->
    <meta name="msvalidate.01" content="Y4Ke-pvTMiuMGn7QH_N0de_nB-LQvmtAEC4Bt5EQxOA"/>
    <!-- TODO -->
    <meta name="baidu-site-verification" content="NQ53KRpuNy"/>
    <!-- Bootstrap -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block header %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
{% include "login.html" %}
{% include "footer.html" %}
<script src="static/js/sweetalert.min.js"></script>
<script src="https://cdn.staticfile.org/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="static/books/js/main.js"></script>
{% block script %}{% endblock %}
</body>
</html>