body {
    background-color: #E5E4DB !important
}

.all-chapter {
    margin-bottom: 50px;
}

#maininfo {
    background: #F6F4EC;
    border-radius: 8px;
    margin-top: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 25px;
}

#intro > p:last-child, #intro{
    display: none !important;
}

#info h1 {
    text-align: center;
    padding-top: 20px;
    color: rgba(50, 68, 84, 0.61);
}

#info p {
    float: left;
    margin-top: 25px;
    width: 25%;
    margin-left: 6%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listmain dl {
    overflow: hidden;
    padding-bottom: 1px;
    margin: auto;
    background: #F6F4EC;
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.listmain dl dt {
    background: none repeat scroll 0 0 rgba(214, 212, 200, 0.89) !important;
    display: inline !important;
    float: left !important;
    font-size: 14px !important;
    line-height: 28px !important;
    overflow: hidden !important;
    text-align: center !important;
    vertical-align: middle !important;
    width: 100% !important;
    margin: auto auto 5px !important;
    padding: 5px 10px !important;
}

.listmain dl dd {
    border-bottom: 1px dashed #CCC;
    display: inline;
    float: left;
    height: 25px;
    line-height: 200%;
    margin-bottom: 5px;
    text-align: left;
    text-indent: 10px;
    vertical-align: middle;
    width: 26%;
    font-size: 15px !important;
    margin-left: 5% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

dd > a {
    cursor: pointer;
}

@media (max-width: 960px) {
    .all-chapter {
        width: 100% !important;
    }

}


