div.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8c97a8;
}

form.home_search {
    height: 120px;
    margin-top: 25px;
    text-align:center;
    border: 1px solid #4285f4;
}

div.search {
    text-align: center;
    width: 60%;
    height: 46px;
    background-color: #f2f2f5; 
    display: inline-block;
}

div.search > .search_input {
    width: 94%;
    height: 100%;
    float: center;
    background-color: #f2f2f5;
}

div.search > .search_btn {
    width: 6%;
    height: 100%;
    float: right;
    background: url(../img/search.png) center no-repeat;
    background-size: contain;
    background-color: #f2f2f5; 
}

.login > .pull-right {
    position: absolute;
    right: 0;
    top: 5px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
}

div.search_ranking {
    margin-top: 5%;
    width: 55%;
}

div.search_ranking span {
    display: inline-block;
    font-size: 12px;
    padding: .3em .6em .3em;
    margin-bottom: 2px;
}

@media (max-width: 767px) {
    .logo {
        padding-top: 28% !important;
    }

    .logo img {
        width: 100px;
        height: 45px;
    }

    div.search_ranking {
        display: none;
    }
}

@media (min-width: 992px) {

}

@media (min-width: 1680px) {
    .logo {
        padding-top: 8% !important;
    }
}